* {
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*--------------------------------- Custom Properties ---------------------------------*/

:root {
  --clr-primary: #eebb39;
  --clr-accent: white;
  --clr-minor: #335069;
  --ff-primary: "Poppins", sans-serif;
  --ff-accent: "Anton", sans-serif;
}

html {
  font-family: var(--ff-primary);
  color: var(--clr-primary);
  background-image: url("./img/texture_bg_green.png");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 600px;
}

/*--------------------------------- Desktop Nav ---------------------------------*/

nav {
  position: relative;
  height: 5em;
  border-bottom: 2px solid var(--clr-primary);
  background-image: url("./img/texture_bg_green.png");
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  min-height: 80px;
}

nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0 3em;
}

nav .logo {
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav .nav-links {
  list-style: none;
  display: flex;
}

nav .nav-links a {
  color: var(--clr-primary);
  text-decoration: none;
  margin: 0 1em;
}

/*--------------------------------- Section ---------------------------------*/

section {
  background-color: lawngreen;
  margin-top: auto;
  /* margin-bottom: 5vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 80vh; */
}

section .profile {
  background-color: lightsalmon;
  border: 2px solid var(--clr-primary);
  width: 75%;
  min-width: 700px;
}

section .about {
  display: flex;
  position: relative;
  border-bottom: 2px solid var(--clr-primary)
}

section .pro-pic p {
  position: absolute;
  background-color:magenta;
  top: 50px;
}

section .about img {
  width: 300px;
  height: auto;
  margin: 1em;
}

section .intro {
  background-color:mediumaquamarine;
  margin: 1em;
}

section .tools .tool-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color:mediumslateblue; */
}

section .tools {
  background-color: olive;
}

section .tools p {
  margin: 1em 0 0 1em;

}

section .tools .tool-icon {
  margin: 0.5em;
}

section .tools .tool-icon img{
  width: 60px;
}

/*--------------------------------- Footer ---------------------------------*/

footer {
  margin-top: auto;
  flex: 0 0 4em;
  /* position: relative;
  bottom: 0; */
  /* background-image: url("./img/texture_bg_green.png");
  background-repeat: repeat;
  background-position: center;
  background-size: cover; */
  position: relative;
  width: 100%
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  /* background-color:palegreen; */
  width: 100%;
  height: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footer .profile-icon {
  display: flex;
  align-items: center;
  /* position: absolute; */
  margin-right: 2em;
  /* background-color: rebeccapurple; */
  position: absolute;
  bottom: 1em;
  right: 0;
}

.footer img{
  cursor: pointer;
  margin-left: 1em;
}

/*--------------------------------- Media Query ---------------------------------*/
@media (min-width: 481px) and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  section {
    width: 60%;
    min-width: 400px;
    max-width: 1000px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin-top: 75%;
  }

  section .profile .about {
    display: block;
  }

  footer {
    margin-top: 50em;
  }
}




/* --------------------------------- Animation ---------------------------------  */

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}